.container {
  font-family: sans-serif;
  max-width: 800px;
  margin: 200px auto;
  text-align: center;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.state,
.district {
  font-size: 20px;
  margin-right: 5px;
}

#states,
#districts {
  padding: 10px;
}
